<div class="todo-item">
    <div *ngIf="!editMode">
        <mat-checkbox class="checkbox-label" [(ngModel)]="todo.done">{{todo.name}}</mat-checkbox>
    </div>


    <mat-form-field class="example-form-field" class="edit-input" *ngIf="editMode">
        <input matInput type="text" placeholder="" [(ngModel)]="todo.name" (keyup)="onKeyUp($event)">
    </mat-form-field>

    <button color="primary" mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons">more_vert</i>
    </button>

    <mat-menu #menu="matMenu" style="display: none">
        <button mat-menu-item (click)="toggleEditMode()"> {{editMode ? 'Done editing' : 'Edit'}}</button>
        <button mat-menu-item (click)="deleteButtonClicked()"> Delete</button>
    </mat-menu>

</div>