@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'node_modules/@angular/material/prebuilt-themes/indigo-pink';
@import 'todo/todo-list.component';
@import 'todo/todo-item.component';

body {
    background-color: #eee;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}